<h1 class="login-hello">Hey Homey</h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @user, url: session_path do |f| %>
  <%= f.text_field :name, placeholder: 'Enter your name', required: true, autofocus: true, autocomplete: 'off' %>
  <%= f.submit 'Join project' %>
<% end %>
