<%# TODO: disappering flash here: 'State updated!' %>
<%= turbo_frame_tag "project-state-container" do %>
  <div>
    <h1 id="project_name"><%= project.name %></h1>
    <p id="project-current-state"><%= project.state %></p>
  </div>
  <div id="state-transition-buttons">
    <% StateChange::VALID_TRANSITIONS[project.state].each do |new_state| %>
      <%= button_to "Change to #{new_state.humanize}",
                  project_path,
                  method: :patch,
                  params: { project: { state: new_state } },
                  data: { state: new_state } %>
    <% end %>
  </div>
<% end %>
